extends layout

block content
  - let title = error.title || 'Некорректный запрос'
  - let code = 400
  
  if error.errors
    +e.text
      dl
        each value, key in error.errors
          dt= key
          dd= value.message
