extends layout

block content
  - let title = error.title || 'Требуется авторизация'
  - let code = 401

  +e.text
    if error.description
      != error.description
    else
      | Возможно, вам нужно войти в сайт?
