extends layout

block content

  - let title = error.title || 'Страница не найдена'
  - let code = 404

  +e.text
    if error.info
      p= error.info

  +e.text
    a(href="/") Перейти на главную страницу
